@import "./variables.scss";
@import "./margin.scss";
@import "./padding.scss";
@import "./buttons.scss";
@import "./index.scss";

// @media all and (min-width: 1281px) {

//   .container {
//     max-width:1980px !important;
//     grid-template-rows: 100px auto 100px;
//     grid-template-columns: 64px auto;
//     grid-template-areas:
//       "nav header header"
//       "nav main main"
//       "nav footer footer";
//   }
// }

@media all and (min-width: 1280px) {
  .container {
    grid-template-rows: 5fr 53fr 15fr;
    grid-template-columns: 64px auto;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  }
}

@media all and (max-width: 1280px) {
  .container {
    grid-template-rows: 5fr 53fr 15fr;
    grid-template-columns: 64px auto;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  }
}

@media all and (max-width: 980px) {
  .container {
    grid-template-rows: 5fr 53fr 15fr;
    grid-template-columns: 64px auto;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";


  }
}

@media all and (max-width: 736px) {
  .container {
    grid-template-rows: 5fr 53fr 15fr;
    grid-template-columns: 64px auto;
    grid-template-areas:
      "header header header"
      "main main"
      "footer footer footer";
  }
}

@media all and (max-width: 480px) {

  .container {
    grid-template-rows: 5fr 53fr 15fr;
    grid-template-columns: 64px auto;
    grid-template-areas:
      "header header header"
      "main main"
      "footer footer footer";
  }
}

.container {
  display: grid;
  background: #eee;
  user-select: none;
  height: 100%;
  min-width: 360px;
  
  
}

header {
  grid-area: header;
  background-color: #dadada;
  padding: $padding-md $padding-lg;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 60px;
  max-height: 90px;
  border-bottom: 1px solid rgba(black, 0.05);

  .logo {
    max-height: 70%;
    float: right;
  }
}

nav {
  grid-area: nav;
  position:fixed !important;
}

main {
  grid-area: main;
  padding: $padding-lg;
}

footer {
  grid-area: footer;
  background-color: #333;
}

.card {
  padding: 0 $padding-lg;
  background-color: white;
  border: $border;
  box-shadow: $shadow;
  border-radius: 6px;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(#666, 0.8);
  cursor: default;
  z-index: 1000;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: $padding-lg;
}


.answerSelections {
  list-style-position: inside;
}

.answerSelections li {
  margin: $margin-md 0;
  padding: 0.5em;
  background-color: white;
  border: $border;
  box-shadow: $shadow;
  border-radius: 6px;
  cursor: pointer;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.2em;
}

.answerSelections .selected {
  background-color: $primary;
  color: white;
}

.answerSelections .selected:before {
  content: "\25C9";
  color: white;
}

.answerSelections li:before {
  content: "\25CB";
  padding: 0 $padding-sm;
}

.answerSelections li:not(.selected):hover {
  background-color: lighten($primary, 40%);
}

.answerSelections li:not(.selected):active {
  background-color: lighten($primary, 20%);
}




.scenario {
  display: block;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 6px;
}

.scenario img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.forest{ 
  cursor:pointer;
}
// .forest:hover{
//   background:yellow;
// }

// .forest.selected:hover{
//   background:black !important;
// }


.question{
  border:1px solid black;
  background:#d0e5ff;
  padding:1em;
}

.srd-diagram
{
  height: 100%;

min-height: 500px;

background-color: #3c3c3c !important;

background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);

background-size: 50px 50px;
}

.questionAndAnswerAreaOnNodeContainer
{
  background:rgb(226,227,226);
  padding:1em;
}

.questionAreaNode
{
  min-height:70px;
  padding:0.5em;
  background:rgb(255, 255, 255);
}

.answerListNode > li
{
  text-align: center;
  background:rgb(255, 255, 255);
  padding:.5em;
  margin-top:5px;
  position:relative;

  &.newAnswer
  {
    border: #676767 dashed;
    background-color:rgb(231, 231, 231);
      margin-top: 20px;
    transition: all 0.2s ease-out;
    cursor:pointer;
    &:hover{
      border: #676767 dashed 5px;
      font-weight: 800;
      font-size:1.25em;
      border-radius:10px;
      background:#ffff;
    }
  }

}
.answerListNode
{
  margin:25px 0 0 0;
  list-style-type: none;
  padding:0;
  
}
.port
{
  position: absolute;
  height:20px;
  width:20px;
  background:rgb(195,31,93);
  border-radius:100%;
  cursor:pointer; 
}
.questionPort
{
  left:-10px;
  top:35px

}
.answerPort
{
  transform: translateY(-50%);
  right:-25px;
  top:50%;
}

.questionNotch
{
  position:absolute;
	width:100%;
	height:20px;
	left:0;
	top:0;
	background:rgb(32,53,105);
}

.questionLabel
{
  
  position:relative;
  color:yellow;
  padding:2em 0 0 1em;
  
}