@media all and (min-width: 1280px) { 
  .container{
    grid-template-rows: 1fr auto-fit 1fr;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-areas: 
      "header header header"
      "nav main main"
      "footer footer footer";
  }
}
@media all and (max-width: 1280px) { 
  .container{
  grid-template-rows: 1fr auto-fit 1fr;
  grid-template-columns: 1.5fr 2fr 2fr;
  grid-template-areas: 
    "header header header"
    "nav main main"
    "footer footer footer";
}
 }
@media all and (max-width: 980px) { 
  .container{
    grid-template-rows: 1fr auto-fit 1fr;
    grid-template-columns: 1fr auto-fit 1fr;
    grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer";


  }
  nav{
    display:none;
  }
 }
@media all and (max-width: 736px) { 
  .container{
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 2fr auto-fit 1fr;
  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}
 }
@media all and (max-width: 480px) { 

.container{
  grid-template-rows: 1fr auto-fit 1fr;
  grid-template-columns: 2fr auto-fit 1fr;
  grid-template-areas: 
    "header header header"
    "nav main main"
    "footer footer footer";
}
 }



.container{
  display: grid;
  grid-gap: .25em;
  background:#f1f2f2;
  padding:.25em;
  user-select: none;
  height:100%
}

.questionContainer
{
  padding:0.5em;
}
.questionText{
  background:#fff;
  font-weight: 700;
  padding:1em;
}
.answerArea{
  list-style-position: inside;
  margin-left:0;
  padding:0 0 0 1em;
}
.answerArea li{
  margin:0.5em 0.5em 0.5em 0;

  padding:.5em;
  background:#fff;
  cursor:pointer;
  list-style-type: none;
  font-weight:600;
}

.answerArea .selected{
  background:#a5cdff;
}

.answerArea .selected:before{
  content: ' \25C9 ';
  font-size:1.5em;
  color:#0f2ec3;
}

.answerArea li:before{
  content: ' \25CB ';
  font-size:1.5em;
}

.answerArea li:not(.selected):hover{
  background:#DADADB;
}

.answerArea li:not(.selected):active{
  background:#d0e5ff;
}









.scenario{
  background:url('https://i.ytimg.com/vi/mPF296tFRKo/hqdefault.jpg');
}
.logo{
  max-width:200px;
  float:right;
  margin:1em 0;
}
header{
    grid-area: header;
    background-color: #90908f;
    border-bottom:3px solid #606060;
}
nav{
    grid-area: nav;
    background-color: tomato;
}
main{
    grid-area: main;
    padding:0.5em;
}

footer{
    grid-area: footer;
    background-color: lightgreen;
}

.nextButton{
  float:right;
  margin-right:25%;
  border:0;
  background:url('/arrowBtn.png');
  position:relative;
}

.nextButton img{
  opacity:0.5;
  width:100px;
  height:66px;
  left:0;
  top:-26px;
  position:absolute;
}


.forest{ 
  cursor:pointer;
}
.forest:hover{
  background:yellow;
}

.forest.selected:hover{
  background:black !important;
}


.question{
  border:1px solid black;
  background:#d0e5ff;
  padding:1em;
}

.srd-diagram
{
  height: 100%;

min-height: 500px;

background-color: #3c3c3c !important;

background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);

background-size: 50px 50px;
}

.questionAndAnswerAreaOnNodeContainer
{
  background:rgb(226,227,226);
  padding:1em;
}

.questionAreaNode
{
  min-height:70px;
  padding:0.5em;
  background:rgb(255, 255, 255);
}

.answerListNode > li
{
  text-align: center;
  background:rgb(255, 255, 255);
  padding:.5em;
  margin-top:5px;
  position:relative;
}
.answerListNode
{
  margin:25px 0 0 0;
  list-style-type: none;
  padding:0;
  
}
.port
{
  position: absolute;
  height:20px;
  width:20px;
  background:rgb(195,31,93);
  border-radius:100%;
  cursor:pointer; 
}
.questionPort
{
  left:-10px;
  top:35px

}
.answerPort
{
  transform: translateY(-50%);
  right:-25px;
  top:50%;
}

.questionNotch
{
  position:absolute;
	width:100%;
	height:20px;
	left:0;
	top:0;
	background:rgb(32,53,105);
}

.questionLabel
{
  
  position:relative;
  color:yellow;
  padding:2em 0 0 1em;
  
}